.main-container {
  width: 25rem;
  height: auto;
  min-height: 100vh;
  padding: 1rem;
  position: relative;
  background: #1f1f1f;
  border-radius: 50px;
  /* border: 1px white solid; */
}

.description {
  display: flex;
  justify-content: space-between;
  margin: 0 2rem;
  color: white;
  font-size: 16px;
  font-weight: 400;
  margin-top: 3rem;
}

.weather-icon {
  align-items: center;
}

.weather-icon img{
    width: 8rem;
    height: auto;
}

.weather-icon p{
    font-size: 40px;
    margin: 0;
}

.weather-details-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    padding: 10px;
  }
  
  .weather-card {
    background-color: #404040;
    padding: 10px;
    width: 90%;
    height: 9rem;
    border-radius: 10px;
    color: white;
    text-align: center;
  }
  .temperature-card img{
    width: 30px;
    height: 30px;
  }
  
  humidity-card {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
  }
  
  wind-card {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }
  
  rain-card {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
  }
  
  .top-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
  }

  .middle-row {
    font-size: 30px;
    margin: 0;
    margin-top: 1rem;
  }

  .bottom-row{
    display: flex;
    text-align: left;
    margin-top: 1rem;
    font-size: 11px;
    justify-content: space-between;
}

*{
  margin: 0;
}